<!DOCTYPE html>
<html>

<head>
    <title>MyMusic</title>

</head>

<body>
    <h2>
        My Music
    </h2>
    <a href="/user">
        <button type="button">User</button>
    </a>
    <br>
    <br>
    <br>
    <a href="/song">
        <button type="button">Song</button>
    </a>
    <br>
    <br>
    <br>
    <a href="/user/register">
        <button type="button">Register</button>
    </a>

</body>

</html>